@page "/superheroes"
@inject ISuperHeroService myService
@inject NavigationManager navManager

<PageTitle>Super Heroes!</PageTitle>
<h3>SuperHeroes</h3>
<hr />
@foreach (var hero in myService.Heroes)
{
    <span>@hero.HeroName </span>
}
<hr />

<table>
    <thead>
        <tr>
            <th>F name</th>
            <th>L name</th>
            <th>Hero</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in myService.Heroes)
        {
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td>@hero.Comic?.Name</td>
                <th><button class="btn btn-primary" @onclick="(()=>ShowHero(hero.Id))">Show</button></th>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await myService.GetSuperHeroes();
    }

    void ShowHero(int id)
    {
        navManager.NavigateTo($"hero/{id}");
    }
}
